<mat-table class="mat-elevation-z8" [dataSource]="dataSource">
  <ng-container matColumnDef="fromDate">
    <mat-header-cell *matHeaderCellDef>fromDate</mat-header-cell>
    <mat-cell *matCellDef="let row">{{ row.fromDate | date }}</mat-cell>
  </ng-container>
  <ng-container matColumnDef="tillDate">
    <mat-header-cell *matHeaderCellDef>tillDate</mat-header-cell>
    <mat-cell *matCellDef="let row">{{ row.tillDate | date }}</mat-cell>
  </ng-container>
  <ng-container matColumnDef="country">
    <mat-header-cell *matHeaderCellDef>country</mat-header-cell>
    <mat-cell *matCellDef="let row">{{ row.country }}</mat-cell>
  </ng-container>
  <ng-container matColumnDef="city">
    <mat-header-cell *matHeaderCellDef>city</mat-header-cell>
    <mat-cell *matCellDef="let row">{{ row.city }}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="xyz">
    <mat-header-cell *matHeaderCellDef>city</mat-header-cell>
    <mat-cell *matCellDef="let row">{{
      row.x == 1 ? 'M' : row.x == 2 ? 'M' : row.x == 3 ? 'M' : row.x
    }}</mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="displayedColumns"> </mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
</mat-table>
<br />
<mat-table class="mat-elevation-z8" [dataSource]="dataSource1">
  <ng-container matColumnDef="fromDate">
    <mat-header-cell *matHeaderCellDef>fromDate</mat-header-cell>
    <mat-cell *matCellDef="let row">{{ row.fromDate | date }}</mat-cell>
  </ng-container>
  <ng-container matColumnDef="tillDate">
    <mat-header-cell *matHeaderCellDef>tillDate</mat-header-cell>
    <mat-cell *matCellDef="let row">{{ row.tillDate | date }}</mat-cell>
  </ng-container>
  <ng-container matColumnDef="country">
    <mat-header-cell *matHeaderCellDef>country</mat-header-cell>
    <mat-cell *matCellDef="let row">{{ row.country }}</mat-cell>
  </ng-container>
  <ng-container matColumnDef="city">
    <mat-header-cell *matHeaderCellDef>city</mat-header-cell>
    <mat-cell *matCellDef="let row">{{ row.city }}</mat-cell>
  </ng-container>
  <ng-container matColumnDef="xyz">
    <mat-header-cell *matHeaderCellDef>city</mat-header-cell>
    <mat-cell *matCellDef="let row">{{ row.x }}</mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="displayedColumns"> </mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
</mat-table>
<input type="submit" (click)="validateAddressData()" />

<!-- <input type="text" [value]="xyz.value" /> <-->
<ul>
  <li
    *ngFor="let item of indexChange; let i = index"
    (click)="toggleSelection(item, i)"
    [class.zxczx]="item.selected"
  >
    {{ item.x }}
  </li>
</ul>

<button (click)="up()">Shift Up</button>
<button (click)="down()">Shift Down</button>
<button (click)="moveTop()">MoveTop</button>
<button (click)="moveDown()">MoveDown</button>
